body{
    background-color: darkorange
}
h1{
    font-size: 80px;
    text-align: center;
    background-color: red;
    height: 90px;
    margin-block-start: 10px; 
    margin-block-end:10px;
}
ul{
    margin-block-start: 0px;
    margin-block-end: 0px;
}

h2{
    font-size: 80px;
    text-align: left;
    background-color: #b53f0d;
}
p{
    font-size: 40px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
   justify-content: space-evenly;
  }
.food h2{
text-align: center;
margin-block-start: 0px; 
  }
  @media (max-width: 900px){
      .grid-container{
          grid-template-columns:1fr;
      }
  }
  @media (max-width: 500px),(min-resolution: 200dpi){
      h1{
          font-size:45px;
      }
      h2{
          font-size:30px;
      }
      p{
          font-size:15px;
      }
  }
  li {
      float: left;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
  li a:hover {
    background-color: #111111;
  }
